<!DOCTYPE html>
<html ng-app="cameraApp">
  <head>
    <meta charset="utf-8">
    <title>Camera View</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Camera Shop</h1>
      </header>
      <main>
        <div class="row">
          <div class="col s12 m8">
            <div class="row">
              <div class="col s8 input-field">
                <input ng-model="searchText" type="text" placeholder="Search here">
              </div>
              <div class="col s4 input-field">
                <select ng-model="selected" ng-init="selected='name'">
                  <option value="name">Name</option>
                  <option value="rating">Rating</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <span class="card-title">Your Cart</span>
                <div ng-controller="CartController as CartCtrl">
                <ul ng-repeat="item in cart track by item.id">
                  <li><span>{{ item.name }} ({{ item.quantity }})<span></li>
                </uL>
                <div>Subtotal = {{ CartCtrl.subtotal }} </div>
                <div>Tax = {{ CartCtrl.taxAmount }}</div>
                <div>Total = {{ CartCtrl.total }}</div>
              </div>
              <div class="card-action">
                <a href="#">Checkout</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-controller="CatalogController as CatalogCtrl">
              <ul ng-repeat="camera in CatalogCtrl.cameras | filter:searchText | orderBy:selected">
                <li><h3>Name: {{ camera.name }}<h3></li>
                <!-- <li><img src= "{{ camera.image }}"/></li> -->
                <li><h5>Price: ${{ camera.price }}</h5></li>
                <li><h5>Rating: {{ camera.rating }}</h5></li>
                <li><button ng-click="CatalogCtrl.addItem(camera)">Add</button></li>
              </ul>
        </div>
      </main>
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <!-- <script src="js/angular.min.js"></script> -->
    <script src="./js/materialize.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
  </body>
</html>
